<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="cacheEnabled" value="true"/><!-- 默认为二级缓存开关打开，可不配置 -->
	</settings>

	<typeAliases>
		<package name="tk.mybatis.simple.model"/>
	</typeAliases>
	
	<typeHandlers><!-- 顺序不能随意更换，否则报错 -->
		<typeHandler
			javaType="tk.mybatis.simple.type.Enabled" 
			handler="tk.mybatis.simple.type.EnabledTypeHandler"/>
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="" value=""/>
			</transactionManager>
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url"
						  value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=GMT%2B8"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<package name="tk/mybatis/simple/mapper"/>
	</mappers>

</configuration>

